body {
    text-align: center;
    background: linear-gradient(#1FDEAD 0%, #BB2DDD 100%);
    background-repeat: no-repeat;
}


img {

    border-radius: 50%;
    width: 100px;
    height: 100px;
}



h1 {
    font-family: 'Festive', cursive;
    font-size: 20px;
    color: navy;
}




#bio {

    padding: 20px;
    font-size: 18px;
    text-align: center;
}



.line {
    margin: 8px auto;
    height: 6px;
    width: 70px;
    background-color: black;

}



.menu {

    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: aliceblue;
}






.link {

    color: crimson;
    display: inline;
    padding top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
}


.link:hover{
    
    background-color: darkblue;
}


#welcome{
    
    text-align: center;
    padding: 70px;
}






#myname{
    
    text-align: center;
}